/*
	Creado por Jos&eacute; Tom&aacute;s Albornoz
	www.eljojo.net
*/body{
  background:url(pictures/fondo.jpg) no-repeat scroll center 0 #2099c3;
  color:#d5eef4;
  font-family:"Myriad Web Pro", "Myriad Pro", Helvetica, Arial;
  margin:0 0 25px;
}
#contenedor{
  width:980px;
  margin:0 auto;
}
#contenido{
  font-weight:400;
  margin:0 30px;
}
#contenido h1{
  font-size:35px;
  font-weight:lighter;
  text-shadow:1px 1px 3px #25798E;
  margin:0 0 5px;
}
#contenido p{
  font-size:20px;
  margin-top:5px;
  width:475px;
}
#contenido small{
  display:block;
  font-style:italic;
  margin-top:-10px;
}
#derecha{
  padding-top:125px;
}
#derecha h1{
  font-size:40px;
  margin:0;
}
#nslu2{
  float:left;
}
#gradiente{
  background:transparent;
  display:block;
  height:627px;
  width:1024px;
}
#header{
  color:#fff;
  height:290px;
  text-shadow:1px 1px 3px #000;
}
#separador{
  background:url(pictures/separador.jpg) no-repeat scroll center 30px transparent;
  min-height:500px;
}
#twitter{
  float:right;
  font-size:15px;
  padding-top:40px;
  text-align:right;
  width:495px;
}
#twitter span{
  font-style:italic;
}
#twitter strong{
  display:block;
  float:left;
  margin-right:5px;
}
#sou{
  border:2px solid #3BC9ED;
  float:right;
  margin:10px 0 0;
}
a,a:visited{
  color:#d5eef4;
}
a:hover{
  color:#AEDEEA;
  text-decoration:underline;
}
a:active{
  color:#85CEE0;
}

img{
  border:none;
}
li,ul{
  list-style-type:none;
  margin:0;
}
#channel{
  text-align:center;
}
#channel h2{
  text-shadow:1px 1px 3px #25798E;
}
.margen{
  margin-right:30px;
}
#mail{
  font-size:20px;
  margin-top:15px;
  text-align:right;
}
#mail img{
  float:right;
  margin-left:10px;
}
#mail h2{
  font-size:25px;
  margin-bottom:5px;
  margin-top:0;
  padding-top:9px;
  text-shadow:1px 1px 3px #25798E;
}
